<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xct.examinationsys.dao.AnswerRecordDao">
    <resultMap id="answerRecordMap" type="answerRecord">
        <id column="answer_record_id" property="recordId"></id>
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
        <result column="course_id" property="courseId"></result>
        <result column="course_name" property="courseName"></result>
        <result column="paper_id" property="paperId"></result>
        <result column="paper_name" property="paperName"></result>
        <result column="user_answer" property="userAnswer"></result>
        <result column="question_name" property="questionName"></result>
        <result column="type_id" property="typeId"></result>
        <result column="type_name" property="typeName"></result>
        <result column="question_id" property="questionId"></result>
        <result column="result" property="result"></result>
        <result column="state" property="state"></result>
        <result column="score" property="score"></result>
        <result column="exam_id" property="examId"></result>
        <result column="answer" property="answer"></result>

    </resultMap>
    <select id="findAllAnswerRecords" parameterType="answerRecord" resultMap="answerRecordMap">
        SELECT
            ar.*,
            u.user_name,
            c.course_name,
            p.paper_name,
            q.question_name,
            q.answer,
            qt.type_name
        FROM
            t_answer_record ar
            LEFT JOIN t_user u ON ar.user_id = u.user_id
            LEFT JOIN t_course c ON ar.course_id = c.course_id
            LEFT JOIN t_paper p ON ar.paper_id = p.paper_id
            LEFT JOIN t_question q ON ar.question_id = q.question_id
            LEFT JOIN t_question_type qt ON ar.type_id = qt.type_id
        <where>
            <if test="state != null and state != ''">
                and ar.state=#{state}
            </if>
        </where>
    </select>

    <select id="selectAnswerRecordById" parameterType="int" resultMap="answerRecordMap">
        SELECT
            ar.*,
            u.user_name,
            c.course_name,
            p.paper_name,
            q.question_name,
            q.answer,
            qt.type_name
        FROM
            t_answer_record ar
            LEFT JOIN t_user u ON ar.user_id = u.user_id
            LEFT JOIN t_course c ON ar.course_id = c.course_id
            LEFT JOIN t_paper p ON ar.paper_id = p.paper_id
            LEFT JOIN t_question q ON ar.question_id = q.question_id
            LEFT JOIN t_question_type qt ON ar.type_id = qt.type_id
        WHERE ar.answer_record_id=#{id}
    </select>

    <insert id="batchInsertAnswerRecord" parameterType="list">
        INSERT INTO t_answer_record(
        user_id,
        course_id,
        user_answer,
        question_id,
        type_id,
        result,
        state,
        paper_id,
        score,
        exam_id)
        VALUES
        <foreach collection="list" item="answerRecord" separator=",">
            (#{answerRecord.userId},
            #{answerRecord.courseId},
            #{answerRecord.userAnswer},
            #{answerRecord.questionId},
            #{answerRecord.typeId},
            #{answerRecord.result},
            #{answerRecord.state},
            #{answerRecord.paperId},
            #{answerRecord.score},
            #{answerRecord.examId}
            )
        </foreach>
    </insert>

    <update id="updateAnswerRecord" parameterType="answerRecord">
        update t_answer_record
        set
            user_id=#{userId},
            course_id=#{courseId},
            user_answer=#{userAnswer},
            question_id=#{questionId},
            type_id=#{typeId},
            result=#{result},
            state=#{state},
            paper_id=#{paperId},
            score=#{score},
            exam_id=#{examId}
        where answer_record_id=#{recordId}
    </update>

    <select id="getUncorrectedNumByExamId" parameterType="int" resultType="int">
        select count(1) from t_answer_record where state="未改" and exam_id=#{examId}
    </select>

</mapper>